footer {

  background-position: bottom center;
  background-image: url('#{$img-path}grunge-border-footer.png');
  background-size: 100% 100%;

  .pattern-wrapper {
    .pattern {
      .img-wrapper {
        bottom: 14px;
        padding: 20px 0 0 0;
      }
    }
  }

}