<img src="img/back-to-list.png" class="back-to-list">


<!-- Slider main container -->
<div class="swiper-container">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->

        <% items.forEach(function(item, i) { %>
            <div class="swiper-slide">

                <!--Slide <%= i %>-->

                <h1><%= item.name %></h1>

                <div class="details-wrapper">

                    <img src="img/animations/<%= item.anim %>" class="anim">

                    <div class="details">

                        <h2><%= copy['history-title'] %></h2>
                        <p class="history-text">
                            <%= item.copy.history %>
                        </p>

                        <h2><%= copy['tip-title'] %></h2>
                        <p class="history-text">
                            <%= item.copy.tip %>
                        </p>

                    </div>

                </div>


            </div>
        <% }); %>

    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>